*{
    margin: 0;
    padding:0;
    font-family: 'Inter'

  
}

body{
    background-color: #262626;
    background-size: cover;
    border: 3px solid rec;
    
    
}

.contenedor {

    height: 300px;
    display: grid;
    grid-template-rows: repeat(2, auto auto);
    grid-template-areas: "header" "header"
                         "main" "main"
                         "footer" "footer";

}

header{
    grid-area: header ;
}

main{
    grid-area : main;
}

footer {
    grid-area : footer
}

/* Propiedades del encabezado*/

.encabezado {
    height: 80px;
    width: 100%;
    /*border: 1px solid red;*/
    display : flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #262626;

    /* Propiedades para dejar fijo el encabezado */

    position: fixed;
    z-index: 10;
    
    
}

.navegador {
    /*border : 1px solid green;*/
    align-items: center;
    align-self:center;
    

    
}

.navegador nav ul {
    width: auto;
    display : flex;
    flex-flow: row wrap;
    list-style: none;
    
    
    
    
}

.navegador nav ul li a{
   
    margin-left: 25px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    
    
}

.navegador nav ul li a:hover{

    padding: 5px auto 5px auto;
    border-top: 1px solid rgb(211, 208, 208);
    border-bottom: 1px solid rgb(211, 208, 208);
    color: rgb(138, 138, 119);
    
}
.logo{

    /*border: 1px solid red;*/
    display: flex;
    flex-flow: row wrap;
    background-color: #262626;

}

/*Propiedades de la barra de busquda */

.barraDebusqueda{

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 5px;
    color: white;

  
}

.login{
    /*border: 1px solid red;*/
    padding-bottom: 10px;
    align-self:center;
    justify-content: flex-end;
}
.login p{
    /*border: 1px solid green;*/
    font-size: 10px;
    padding-top: 15px;
   
    padding-left: 10PX;
    display:inline;
   
}

.carrito{
    display: inline;
    margin-top: 30px;
   
    /*border: 1px solid red;*/
    
}

h2 {
   /*border:1px solid red;*/
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    align-items: center;
    align-self:center;
}

footer
{
    position: fixed;
    bottom: 0px;
    width:100%;
    height:20px;
    background-color:#262626;
    color : white;
    font-size: 12px;
}

/*Propiedades del cuerpo principal "main" */

.principal {
    border: 0px solid white;
    width: auto;
    height: 100%;
    margin: 80px 0px 0px 0px;
    padding: 0px;
    background: #262626;
   

}

.principalNosotros{
    display: flex;
    flex-flow: row wrap;
    /*border: 5px solid white;*/
    width: auto;
    height: 100%;
    margin: 80px 0px 0px 0px;
    padding: 0px;
    background: #262626;
    color: white;
    justify-content: center;
    padding: 40px;
    
    
}

.tituloNosotros{
    
        padding-top: 40px;
        font-size: 40px;
        color:white;
        border-bottom: 10px solid white;
        text-transform: uppercase;
        justify-content: center;
        margin: 50px auto auto auto;
        
        
    
}

.divNosotros{
    
    /*border: 5px solid white;*/
    width: 400px;
}

.divNosotros span {
    padding-top: 40px;
}

.imagenNosotros {
 padding-left: 100px;
 padding-top:50px ;
}

.contacto{

    margin-top: 40px;
    background-color: #262626;
}

.formulario{

    color: white;
    padding-top: 40px;
}

.productos{

    margin-top: 10px;
    border : 1px solid red;
    width: 200px 20px 20px 20px ;
    height: 200px;

}

.productos img:hover
{
    transition-property:all;
    transition-duration: 1.25s;
    transition-timing-function: linear; 
    transition-delay: initial; 
    transform:scale(1.05); 
}

.carousel-item img {
    height: 250px;
}

.cuerpo2 {
    margin-top: 50px ;
    margin-left: 100px;
    margin-right: 100px;
}

.proyectos{

    display: flex;
    font-size: 40px;
    color:white;
    border-bottom: 10px solid white;
    text-transform: uppercase;
    justify-content: center;
    margin: 100px auto auto auto;
    width: 50%;
    
}

.Destacados{

    display: flex;
    font-size: 40px;
    color:white;
    border-bottom: 10px solid white;
    text-transform: uppercase;
    justify-content: center;
    margin: 50px auto auto auto;
    width: 50%;
    
}



.galeria {
  
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top : 40px;

}



.imagenGaleria img {
    padding :40px 40px 40px 40px;
}

/*formulario de contacto */ 

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.galeriaProductos {
    padding-bottom: 40px ;
}