*{
    margin: 0;
    padding:0;
    font-family: 'Inter'

  
}

body{
    background-image: url(img/background.jpg);
    background-size: cover;
    border: 3px solid rec;
    
    
}

.contenedor {

    height: 300px;
    display: grid;
    grid-template-rows: repeat(2, auto auto);
    grid-template-areas: "header" "header"
                         "main" "main"
                         "footer" "footer";

}

header{
    grid-area: header ;
}

main{
    grid-area : main;
}

footer {
    grid-area : footer
}

/* Propiedades del encabezado*/

.encabezado {
    height: 80px;
    width: 100%;
    /*border: 1px solid red;*/
    display : flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #262626;

    /* Propiedades para dejar fijo el encabezado */

    position: fixed;
    z-index: 10;
    
    
}

.navegador {
    /*border : 1px solid green;*/
    align-items: center;
    align-self:center;
    

    
}

.navegador nav ul {
    width: auto;
    display : flex;
    flex-flow: row wrap;
    list-style: none;
    
    
    
    
}

.navegador nav ul li a{
   
    margin-left: 25px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    
    
}

.navegador nav ul li a:hover{

    padding: 5px auto 5px auto;
    border-top: 1px solid rgb(211, 208, 208);
    border-bottom: 1px solid rgb(211, 208, 208);
    color: rgb(138, 138, 119);
    
}
.logo{

    /*border: 1px solid red;*/
    display: flex;
    flex-flow: row wrap;
    background-color: #262626;

}

/*Propiedades de la barra de busquda */

.barraDebusqueda{

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 5px;
    color: white;

  
}

.login{
    border: 1px solid red;
    padding-bottom: 10px;
    align-self:center;
    justify-content: flex-end;
}
.login p{
    border: 1px solid green;
    font-size: 10px;
    padding-top: 15px;
   
    padding-left: 10PX;
    display:inline;
   
}

.carrito{
    display: inline;
    margin-top: 30px;
   
    border: 1px solid red;
    
}

h2 {
    border:1px solid red;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    align-items: center;
    align-self:center;
}

footer
{
    position: fixed;
    bottom: 0px;
    width:100%;
    height:20px;
    background-color:#262626;
    color : white;
    font-size: 12px;
}

/*Propiedades del cuerpo principal "main" */

.principal {
    border: 0px solid white;
    width: auto;
    height: 100%;
    margin: 80px 0px 0px 0px;
    padding: 0px;
    background: white;
   

}

/*
.contenedorCarrusel{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
}
*/

.productos{

    margin-top: 10px;
    border : 1px solid red;
    width: 200px;
    height: 200px;

}

.productos img:hover
{
    transition-property:all;
    transition-duration: 1.25s;
    transition-timing-function: linear; 
    transition-delay: initial; 
    transform:scale(1.05); 
}

.carousel-item img {
    height: 400px;
}