/*variables */

$colorDeFondo : #262626;
$colorTexto: white;

* {
    margin: 0;
    padding: 0;
    font-family: 'inter';
}

body {
    background-color :$colorDeFondo;
    background-size: cover;
    border: 3px solid rec;
}

.contenedor {
    height: 300px;
    display: grid;
    grid-template-rows: repeat(2, auto auto);
    grid-template-areas: "header" "header"
                         "main" "main"
                         "footer" "footer";
}

header {
    grid-area: header ;
}

main{
    grid-area : main;
}

footer {
    grid-area : footer
}

/*Propiedades del encabezado */

.encabezado {
    height: 80px;
    width: 100%;
    /*border: 1px solid red;*/
    display : flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: $colorDeFondo;

    /* Propiedades para dejar fijo el encabezado */

    position: fixed;
    z-index: 10;
}

.navegador {
    /*border : 1px solid green;*/
    align-items: center;
    align-self:center;
}



.navegador {
    nav{
        ul{
            width: auto;
            display : flex;
            flex-flow: row wrap;
            list-style: none; 
            li{
                a{
                    margin-left: 25px;
                    text-transform: uppercase;
                    font-size: 12px;
                    padding: 10px 10px;
                    text-decoration: none;
                    color: $colorTexto;
                }
                :hover{
                    padding: 5px auto 5px auto;
                    border-top: 1px solid rgb(211, 208, 208);
                    border-bottom: 1px solid rgb(211, 208, 208);
                    color: rgb(138, 138, 119);
                }
            }
        }
    }
}

.logo{
    display: flex;
    flex-flow: row wrap;
    background-color: $colorDeFondo;
}

/*Propiedades de la barra de busqueda*/

.barraDebusqueda{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 5px;
    color: $colorTexto;
}

.login{
    padding-bottom: 10px;
    align-self:center;
    justify-content: flex-end;

    p{
        font-size: 10px;
         padding-top: 15px;
   
         padding-left: 10PX;
        display:inline;
    }
}

.carrito {
    display: inline;
    margin-top: 30px;
}

h2 {
    color: $colorTexto;
    text-transform: uppercase;
    font-size: 20px;
    align-items: center;
    align-self:center;
}

footer {
    position: fixed;
    bottom: 0px;
    width:100%;
    height:20px;
    background-color:$colorDeFondo;
    color : $colorTexto;
    font-size: 12px;
}

/*Propiedades del cuerpo principal main */

.principal {
    border: 0px solid white;
    width: auto;
    height: 100%;
    margin: 80px 0px 0px 0px;
    padding: 0px;
    background: $colorDeFondo;
}

.principalNosotros{
    display: flex;
    flex-flow: row wrap;
    /*border: 5px solid white;*/
    width: auto;
    height: 100%;
    margin: 80px 0px 0px 0px;
    padding: 0px;
    background: $colorDeFondo;
    color: $colorTexto;
    justify-content: center;
    padding: 40px;
    
    
}

.tituloNosotros{
    
    padding-top: 40px;
    font-size: 40px;
    color:$colorTexto;
    border-bottom: 10px solid white;
    text-transform: uppercase;
    justify-content: center;
    margin: 50px auto auto auto;
    
    

}

.divNosotros{
    
    /*border: 5px solid white;*/
    width: 400px;
}

.divNosotros{
    span{
        padding-top: 40px;
    }
}

.imagenNosotros {
    padding-left: 100px;
    padding-top:50px ;
   }

   .contacto{

    margin-top: 40px;
    background-color: $colorDeFondo;
}   

.formulario{

    color: $colorTexto;
    padding-top: 40px;
}

.productos{

    margin-top: 10px;
    border : 1px solid red;
    width: 200px 20px 20px 20px ;
    height: 200px;

}

.productos {
    img:hover{
        transition-property:all;
        transition-duration: 1.25s;
        transition-timing-function: linear; 
        transition-delay: initial; 
        transform:scale(1.05); 
    }
}

.carousel-item {
    img{
        height: 250px;
    }
}

.cuerpo2 {
    margin-top: 50px ;
    margin-left: 100px;
    margin-right: 100px;
}

.proyectos{

    display: flex;
    font-size: 40px;
    color:$colorTexto;
    border-bottom: 10px solid white;
    text-transform: uppercase;
    justify-content: center;
    margin: 100px auto auto auto;
    width: 50%;
    
}

.Destacados{

    display: flex;
    font-size: 40px;
    color:$colorTexto;
    border-bottom: 10px solid white;
    text-transform: uppercase;
    justify-content: center;
    margin: 50px auto auto auto;
    width: 50%;
    
}

.galeria {
  
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top : 40px;

}

.imagenGaleria {
    img{
        padding :40px 40px 40px 40px;
    }
}

/*formulario de contacto */ 

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.galeriaProductos {
    padding-bottom: 40px ;
}

/* Responsive */

@media (max-width: 600px){

    .encabezado {
        height: 160px;
        justify-content:center;
        position:absolute;
        
    }

    .navegador {
        nav{
            ul{
                width: auto;
                display : flex;
                flex-flow: row wrap;
                list-style: none; 
                li{
                    a{
                        margin-left: 15px; /*Modificado*/
                        text-transform: uppercase;
                        font-size: 10px; /* modificado */
                        padding: 10px 10px;
                        text-decoration: none;
                        color: $colorTexto;
                    }
                   
                }
            }
        }
    }
    .barraDebusqueda{
    display: none;
     }
}

@media (min-width: 601px) and (max-width:915px){
    .encabezado {
        height: 140px;
        justify-content:center;
        position:absolute;
        
    }

    .navegador {
        nav{
            ul{
                width: auto;
                display : flex;
                flex-flow: row wrap;
                list-style: none; 
                li{
                    a{
                        margin-left: 15px; /*Modificado*/
                        text-transform: uppercase;
                        font-size: 10px; /* modificado */
                        padding: 10px 10px;
                        text-decoration: none;
                        color: $colorTexto;
                    }
                   
                }
            }
        }
    }
    .barraDebusqueda{
    display: block;
     }
}

 

